ADMIN_PASSWORD=xxxxxxxxxxxxxx
ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://user:pass@localhost:5432/ad"

N8N_USERNAME=xxx
N8N_PASSWORD=xxx
N8N_LINKEDIN_WEBHOOK_URL=xxx
N8N_TRANSLATION_WEBHOOK_URL=xxx
N8N_LINKEDIN_POSTER=xxx
N8N_LINKEDIN_POST_CREATOR=xxx